<h1><a href="#">{{system_symbol}}</a> exports
    {% if _template and _query %}<a href='#'
        onclick="window.open('query/{{_query}}','{{_query}}','menubar=no,toolbar=no')">[↗️]</a>{% endif %} </h1><br />


<table class="all_exports">
    <tr>
        <th>trade_symbol</th>
        <th>market_symbol</th>
        <th>supply</th>
        <th>activty</th>
        <th>purchase_price</th>
        <th>market_depth</th>
        <th>units sold recently</th>
    </tr>
    {% for w in exports %}
    <tr style='border-top:3px solid green;' class="export">

        <td>
            {{w.trade_symbol}}
        </td>
        <td>
            {{w.market_symbol}}
        </td>
        <td>
            {{w.supply}}
        </td>
        <td>
            {{w.activty}}
        </td>
        <td>
            {{w.purchase_price}}
        </td>
        <td>
            {{w.market_depth}}
        </td>
        <td>
            {{w.units_sold_recently}}
        </td>


    </tr>
    <tr>
        <td colspan="7" class="requirements">
            {% for e in w.requirements_txt %} {{e}} - {% endfor %}
    </tr>
    {% endfor %}
</table>