<h1><a href="#">{{system_symbol}}</a> exports?
    {% if _template and _query %}<a href='#'
        onclick="window.open('/large_window/{{_query}}','{{_query}}','menubar=no,toolbar=no')">[↗️]</a>{% endif %} </h1>
<br />


<table class="all_exports">
    <tr>
        <th>trade_symbol</th>
        <th>market_symbol</th>
        <th>supply</th>
        <th>activty</th>
        <th>purchase_price</th>
        <th>market_depth</th>
        <th>units bought recently</th>
    </tr>
    {% for w in exports %}
    <tr style='border-top:3px solid green;' class="export" id="{{w.trade_symbol}}">

        <td>
            <img src="/icons/GOOD_{{w.trade_symbol}}.png" />{{w.trade_symbol}}
        </td>
        <td>
            <a href="#" onclick="fetch_block('{{w.market_symbol}}','object_summary'); return false;">
                {{w.market_suffix}}
            </a>
        </td>
        <td>
            <img src="/icons/{{w.supply}}.png" alt="{{w.supply}}" />
        </td>
        <td>
            <img src="/icons/{{w.activity}}.png" alt="{{w.activity}}" />
        </td>
        <td>
            {{w.purchase_price}}
        </td>
        <td>
            {{w.market_depth}}
        </td>
        <td>
            {{w.units_purchased_recently}}
        </td>


    </tr>
    <tr>
        <td colspan="7" class="requirements">
            {% for e in w.requirements %} [<a href="#{{e.trade_symbol}}" onclick="highlight('{{e.trade_symbol}}')"><img
                    src="/icons/GOOD_{{e.trade_symbol}}.png" />{{e.trade_symbol}}
                (TV:<b>{{e.market_depth}}</b> Supply:<b>{{e.supply}}</b>)]</a> -
            {% endfor
            %}
        </td>
    </tr>
    {% endfor %}
</table>