<h1>All Occupied Systems - {{agent_name}}</h1>
Credits: {{agent_credits}}<br>
Faction: {{agent_faction}}<br>

{% for system in systems %}
<div class="container ">
        <div class="row system_row">
                <div class="col-lg-2 col-md-6">🌌<a href="/large_window/{{system.system_symbol}}"
                                onclick="fetch_block('{{system.system_symbol}}','mainPanel'); return false;">{{system.system_symbol}}</a>
                </div>
                <div class="col-lg-2 col-md-6">🚀<a href="/large_window/SHIPS-{{system.system_symbol}}"
                                onclick="fetch_block('SHIPS-{{system.system_symbol}}','mainPanel'); return false;">{{system.system_ships}}</a>
                </div>
                <div class="col-lg-2 col-md-6">🏭<a href="/large_window/EXPORTS-{{system.system_symbol}}"
                                onclick="fetch_block('EXPORTS-{{system.system_symbol}}','mainPanel'); return false;">{{system.total_export_tv}}</a>
                </div>
                <div class="col-lg-2 col-md-6">📦{{system.units_exported}}
                </div>
                <div class="col-lg-2 col-md-6"><a href="/large_window/TRANSACTIONS-{{system.system_symbol}}/"
                                onclick="fetch_block('TRANSACTIONS-{{system.system_symbol}}','mainPanel'); return false;">📈{{system.profit_an_hour_ago}}</a>
                </div>
                <div class="col-lg-2 col-md-6">⛽{{system.fuel_most_expensive_cr}}
                </div>
        </div>
</div>


{% endfor %}