<!doctype html>
<html lang="en">

{% include '_header.html' %}

<body class='main_body'>

    <div class="container">
        <div class="navbar navbar-expand-lg">

        </div>
        <div class="row" style="">
            <div class="col-lg-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" id="requestButton">Inspect</button>
                    </div>
                    <input type="text" class="form-control" placeholder="X1-U49-A1" id="controlinput"> </input>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="showHQSystem">HQ System</button>
                        <button class="btn btn-outline-secondary" type="button" id="showAllSystems">ALL Systems</button>
                        <button class="btn btn-outline-secondary" type="button" id="showAllShips">Ships</button>
                        <button class="btn btn-outline-secondary" type="button" id="showSomeGraphs">Graphs</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="large-square" id="mainPanelWrapper">
                    <div id="mainPanel" style="height:100%;">

                        <h2> Welcome to C'tri's SpaceTraders UI. </h2> <br />

                        <a href="https://spacetraders.io"> What's Space Traders?</a> <br />
                        <p>SpaceTraders is an API-based game where you acquire and manage a fleet of ships to explore,
                            trade, and fight your way across the galaxy. Use any programming language with our API to
                            control the most powerful fleet in universe.<br />
                            This UI is designed to work in tandem with a project developed with the <A
                                href="https://github.com/Ctri-The-Third/spacetraders_sdk">straders_sdk</A> - without it
                            features are limited.

                            To play here, enter your token below.</p>
                        <textarea id="sTradersToken" name="token" rows="8" cols="80" placeholder="token"></textarea>
                        <button id="loginButton" value="Login" onclick="setToken()">Save token locally</button>


                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 " style="">
                <div class="row">
                    <div class="col-sm-12" style="margin-bottom:15px;">
                        <div class="small-square" id="object_summary">
                            Inspect a system or waypoint to get summary.
                        </div>
                        <div class="small-square" id="object_detail" style="margin-top:15px;">
                            For details on part of a ship, market, etc... inspect it and follow a link.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</body>

<script type="text/javascript">



    b = document.getElementById("requestButton")
    b.addEventListener("click", function () {
        query = document.getElementById("controlinput").value;
        fetch_block(query, "mainPanel");
    })
    b.addEventListener("touchstart", function () {
        query = document.getElementById("controlinput").value;
        fetch_block(query, "mainPanel");
    })

    b = document.getElementById("showHQSystem")
    b.addEventListener("click", function () {
        query = "HQ_SYSTEM";
        fetch_block(query, "mainPanel");
    })
    b.addEventListener("touchstart", function () {
        query = "HQ_SYSTEM";
        fetch_block(query, "mainPanel");
    })

    b = document.getElementById("showAllSystems")
    b.addEventListener("click", function () {
        query = "ALL_SYSTEMS";
        fetch_block(query, "mainPanel");
    })
    b.addEventListener("touchstart", function () {
        query = "ALL_SYSTEMS";
        fetch_block(query, "mainPanel");
    })

    b = document.getElementById("showAllShips")
    b.addEventListener("click", function () {
        query = "ALL_SHIPS";
        fetch_block(query, "mainPanel");
    })
    b.addEventListener("touchstart", function () {
        query = "ALL_SHIPS";
        fetch_block(query, "mainPanel");
    })

    b = document.getElementById("showSomeGraphs")
    b.addEventListener("click", function () {
        fetchGraph("/graph_content/", "mainPanel");

    })
    b.addEventListener("touchstart", function () {
        fetchGraphsPage("mainPanel");
    })

    function setToken() {
        sTradersToken = document.getElementById("sTradersToken").value;
        if (sTradersToken.length > 0) {


            setCookie("sTradersToken", sTradersToken, 14);
        }
    }

    function setCookie(name, value, daysToExpire) {
        var expires = "";

        if (daysToExpire) {
            var date = new Date();
            date.setTime(date.getTime() + (daysToExpire * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }

        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

</script>

</html>