<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Space Traders UI </title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="scripts/loadGraphs.js"></script>
    <script src="scripts/tickingTimer.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            height: 100%;
            background-color: #333;
            color: #cfc;

        }

        a {
            color: #7f7;
        }

        .large-square {

            height: 800px;
            font-family: monospace, 'Courier New', Courier;

        }

        .small-square {
            border: 2px solid green;
            border-radius: 10px;
            padding: 5px;
            max-height: 400px;
            min-height: 200px;
            font-family: monospace, 'Courier New', Courier;
            font-size: 10px;
            overflow-y: scroll;
        }

        .small-square h1 {
            font-size: 12px;
            font-weight: bold;
        }

        .small-square hr {
            border: 1px solid green;
            padding: 0px;
            margin: 3px;
        }

        .table-responsive {
            overflow-x: hidden;
        }
    </style>
</head>

<body>
    <script type="text/javascript">
        /* sourced a lot of this from the tutorial here: https://www.petercollingridge.co.uk/tutorials/svg/interactive/dragging/
        
        */
        selectedElement = null;
        function makeDraggable(evt) {
            svg = evt.target;
            svg.addEventListener('mousedown', startDrag);
            svg.addEventListener('mousemove', drag);
            svg.addEventListener('mouseup', endDrag);
            svg.addEventListener('mouseleave', endDrag)
        }
        function makeDraggableById(id) {
            alert("Getting element by id? " + id)
            svg = document.getElementById(id);
            svg.addEventListener('mousedown', startDrag);
            svg.addEventListener('mousemove', drag);
            svg.addEventListener('mouseup', endDrag);
            svg.addEventListener('mouseleave', endDrag)
        }
        function startDrag(evt) {
            //alert("starting drag " + evt.target.id);
            selectedElement = true;
            offset = getMousePosition(evt);

            var draggableElements = svg.querySelectorAll('.draggable');
            draggableElements.forEach(function (el) {
                var transforms = el.transform.baseVal;
                if (transforms.length === 0 || transforms.getItem(0).type !== SVGTransform.SVG_TRANSFORM_TRANSLATE) {
                    // Create a transform that translates by (0, 0)
                    var translate = svg.createSVGTransform();
                    translate.setTranslate(0, 0);
                    el.transform.baseVal.insertItemBefore(translate, 0);
                }
                // Ensure initial drag point is set
                if (!el._dragPoint) {
                    el._dragPoint = svg.createSVGPoint();
                }
            });
        }


        function resetDrag() {
            var draggableElements = svg.querySelectorAll('.draggable');
            console.log("Resetting " + draggableElements.length + " draggable elements");

            draggableElements.forEach(function (el) {
                // Remove any translate transform
                var transforms = el.transform.baseVal;
                if (transforms.length > 0 && transforms.getItem(0).type === SVGTransform.SVG_TRANSFORM_TRANSLATE) {
                    transforms.removeItem(0);
                    //console.log("Removing transform");
                }

                // Remove the cached _dragPoint property
                if (el._dragPoint) {
                    //console.log("Removing drag point");
                    delete el._dragPoint;
                }
            });

            // Reset any global variables related to dragging here, if needed
            selectedElement = null; // or false, depending on its intended use
            offset = null; // or reset to some initial value

        }

        function drag(evt) {
            if (selectedElement) {
                //alert("continueing " + selectedElement.id)

                //evt.preventDefault();
                var coord = getMousePosition(evt);

                var dx = coord.x - offset.x;
                var dy = coord.y - offset.y;

                // Move each draggable element
                var draggableElements = svg.querySelectorAll('.draggable');
                draggableElements.forEach(function (el) {
                    var transform = el.transform.baseVal.getItem(0);
                    var pt = el._dragPoint;
                    pt.x += dx;
                    pt.y += dy;
                    transform.setTranslate(pt.x, pt.y);
                });

                offset = coord;
            }

        }
        function endDrag(evt) {
            selectedElement = null;
        }

        function getMousePosition(evt) {
            var CTM = svg.getScreenCTM();
            return {
                x: (evt.clientX - CTM.e) / CTM.a,
                y: (evt.clientY - CTM.f) / CTM.d
            };
        }
    </script>

    <div class="container">
        <div class="row" style="">
            <div class="col-lg-12">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" id="requestButton">Inspect</button>
                    </div>
                    <input type="text" class="form-control" placeholder="X1-U49-A1" id="controlinput"> </input>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="showHQSystem">HQ System</button>
                        <button class="btn btn-outline-secondary" type="button" id="showAllShips">Ships</button>
                        <button class="btn btn-outline-secondary" type="button" id="showSomeGraphs">Graphs</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row" style="">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="large-square" id="mainPanelWrapper">
                    <div id="mainPanel" style="height:100%;">

                        <h2> Welcome to C'tri's SpaceTraders UI. </h2> <br />

                        <a href="https://spacetraders.io"> What's Space Traders?</a> <br />
                        <p>SpaceTraders is an API-based game where you acquire and manage a fleet of ships to explore,
                            trade, and fight your way across the galaxy. Use any programming language with our API to
                            control the most powerful fleet in universe.

                            To play here, enter your token below.</p>
                        <textarea id="sTradersToken" name="token" rows="8" cols="80" placeholder="token"></textarea>
                        <button id="loginButton" value="Login">Save token locally</button>


                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 " style="">
                <div class="row">
                    <div class="col-sm-12" style="margin-bottom:15px;">
                        <div class="small-square" id="object_summary">
                            Inspect a system or waypoint to get summary.
                        </div>
                        <div class="small-square" id="object_detail" style="margin-top:15px;">
                            For details on part of a ship, market, etc... inspect it and follow a link.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</body>

<script type="text/javascript">



    document.getElementById("requestButton").addEventListener("click", function () {
        query = document.getElementById("controlinput").value;
        fetch_block(query, "mainPanel");
    }).addEventListener("touchstart", function () {
        query = document.getElementById("controlinput").value;
        fetch_block(query, "mainPanel");
    })

    document.getElementById("showHQSystem").addEventListener("click", function () {
        query = "HQ_SYSTEM";
        fetch_block(query, "mainPanel");
    }).addEventListener("touchstart", function () {
        query = "HQ_SYSTEM";
        fetch_block(query, "mainPanel");
    })

    document.getElementById("showAllShips").addEventListener("click", function () {
        query = "ALL_SHIPS";
        fetch_block(query, "mainPanel");
    }).addEventListener("touchstart", function () {
        query = "ALL_SHIPS";
        fetch_block(query, "mainPanel");
    })

    document.getElementById("showSomeGraphs").addEventListener("click", function () {
        fetchGraphsPage("mainPanel");

    }).addEventListener("touchstart", function () {
        fetchGraphsPage("mainPanel");
    })


    // click an inspect
    function fetch_block(query, return_div_symbol) {
        //alert("fetching " + query + " into " + return_div_symbol);
        url = "/query/" + query
        const parser = new DOMParser();

        // alert both these parameters]
        console.log("[" + query + "] [" + return_div_symbol + "]")


        fetch(url, { method: 'GET', headers: { 'Authorization': 'Bearer ' + localStorage.getItem("SpaceTradersToken") } })
            .then(response => response.text())
            .then(html => {
                var parsedHtml = parser.parseFromString(html, 'text/html');
                // Handle the JSON blob response here
                document.getElementById(return_div_symbol).innerHTML = html;
                reinit();
                console.log(svg)
            }).catch(error => console.error(error));


    }
    function reinit() {
        //alert("init");
        svg = document.getElementById("systemView");
        circles = svg.getElementsByTagName("circle");
        //on mouseover change the contents of 'controlinput' to the id of the circle
        for (var i = 0; i < circles.length; i++) {
            circles[i].addEventListener("mouseover", function () {
                if (this.id != "") { document.getElementById("controlinput").value = this.id; }
            });
            circles[i].addEventListener("click", function () {
                if (this.id != "") {
                    fetch_block(this.id, "object_summary");
                }
            });
        }
    }

    reinit()
    //load a json blob and draw circles based on its content


</script>

<script type="text/javascript">

    function toggle_div(div_id, link_id) {
        var div = document.getElementById(div_id, link_id);
        var link = document.getElementById(link_id);
        if (div.style.display !== "none") {
            link.innerHTML = "🔼";
            div.style.display = "none";
        }
        else {
            link.innerHTML = "🔽";
            div.style.removeProperty('display');
        }
    }
</script>

<script type="text/javascript">
    // Function to load the value from local storage
    function loadValue() {
        // Assuming 'sTradersTokenContent' is the key for the content in local storage
        var storedValue = localStorage.getItem('SpaceTradersToken');
        if (storedValue) {
            // If there is a value stored, set it as the textarea's content
            document.getElementById('sTradersToken').value = storedValue;
        }

    };


    // Call loadValue on page load
    window.onload = loadValue;

    // Optionally, save the textarea content back to local storage on change or other events
    document.getElementById('sTradersToken').addEventListener('input', function () {
        localStorage.setItem('SpaceTradersToken', this.value);
        document.getElementById("loginButton").innerHTML = "Saved! (click to overwrite)";

    });
</script>

</html>