<h1><a href="#" onclick="fetch_block('CTRI-U--1','object_summary'); return false;">CTRI-U--1</a>
    <h1>CTRI-U--1</h1>COMMAND FRIGATE<br />

    <p>142/ 400 fuel
        0/35 cargo
    </p>

    <p>loadout -
        {MOUNT_SENSOR_ARRAY_II,MOUNT_GAS_SIPHON_II,MOUNT_MINING_LASER_II,MOUNT_SURVEYOR_II}
    </p>
    <p>internals -
        {MODULE_CARGO_HOLD_II,MODULE_CREW_QUARTERS_I,MODULE_CREW_QUARTERS_I,MODULE_MINERAL_PROCESSOR_I,MODULE_GAS_PROCESSOR_I}
    </p>

    cooldown remaining: <br />

    <p>system: X1-U49
        waypoint: H53</p>
    <hr />
    advanced circuitry - 10<br />

    <hr />

    current behaviour: RECEIVE_AND_FULFILL, {
    "market_wp": "X1-U49-H53",
    "asteroid_wp": "X1-U49-B17"
    }

    recently completed tasks
    'TAKE_FROM_EXTRACTORS_AND_GO_SELL_9'
    {
    "priority": 4,
    "market_wp": "X1-U49-H53",
    "asteroid_wp": "X1-U49-FA4A",
    "cargo_to_receive": [
    "ALUMINUM_ORE",
    "COPPER_ORE",
    "IRON_ORE"
    ]
    }