<h1><a href="#" onclick="fetch_block('{{ship_symbol}}','object_summary'); return false;">{{ship_symbol}}</a>
    {% if _template and _query %}<a href='#'
        onclick="window.open('small_window/{{_query}}','{{_query}}','menubar=no,toolbar=no, width=425, height=375')">[↗️]</a>{%
    endif %} </h1>
<br />
<p>{{ship_role}} {{ship_frame}} [{{cur_fuel}} /{{max_fuel}} fuel] [{{cur_cargo}} /{{max_cargo}} cargo] [<a href="#"
        onclick="fetch_block('LOGS-{{ship_symbol}}','object_detail'); return false;">view logs</a>]
    <br />
    system: [<a href="#" onClick="fetch_block('{{current_system}}','mainPanel');  return false;">{{current_system}}</a>]
    - waypoint:
    [<a href="#"
        onClick="fetch_block('{{current_waypoint}}','object_detail');  return false;">{{current_waypoint_suffix}}</a>]
</p>

<p>loadout - {% for m in mounts %}{{m}}, {% endfor %}<br />
    internals - {% for m in modules %}{{m}}, {% endfor %} </p>

{% if travel_time > 0 or cooldown_time > 0 %}
<hr />
<b> Ship availability impacts. </b><br />
travel remaining: <span class="tickingTimer">{{travel_time}}s ({{travel_time_fmt}})</span> <br />
{% if origin_suffix %}
[<a href="#" onClick="fetch_block('{{origin}}','object_detail');  return false;">{{origin_suffix}}</a>]
->
[<a href="#" onClick="fetch_block('{{destination}}','object_detail');  return false;">{{destination_suffix}}</a>]
{{distance}}km <br />{% endif %}
cooldown remaining: <span class="tickingTimer">{{cooldown_time}}s ({{cooldown_time_fmt}})</span><br />
{% endif %}

{% if cargo %}
<hr />
<b> Cargo in hold</b><br />
{% for c in cargo %}
{{c}} - {{cargo[c]}}<br />
{% endfor %} {% endif %}

<hr />
[<a href="#" onClick="fetch_block('LOG_TASK/{{ship_symbol}}','object_detail');  return false;">Behaviour &
    Tasks</a>]<br />
{% if most_recent_behaviour %}
Most recent behaviour: <a href="/small_window/SESH-{{session_id}}"
    onClick="fetch_block('SESH-{{session_id}}','object_detail'); return false;">{{most_recent_behaviour}}</a><br />
Started at {{most_recent_behaviour_ts}}<br />
{% endif %}