<h1><a href="#" onclick="fetch_block('{{ship_symbol}}','object_summary'); return false;">{{ship_symbol}}</a>
</h1><br />
<p>{{ship_role}} {{ship_frame}} [{{cur_fuel}} /{{max_fuel}} fuel] [{{cur_cargo}} /{{max_cargo}} cargo] [<a href="#"
        onclick="fetch_block('LOGS-{{ship_symbol}}','object_detail'); return false;">view logs</a>]
    <br />
    system: [<a href="#" onClick="fetch_block('{{current_system}}','mainPanel');  return false;">{{current_system}}</a>]
    - waypoint:
    [
    {{current_waypoint_suffix}}]
</p>

<p>loadout - {% for m in mounts %}{{m}}, {% endfor %}<br />
    internals - {% for m in modules %}{{m}}, {% endfor %} </p>

cooldown remaining: <br />
travel time remaining: <br />
<hr />

[advanced circuitry] - 10<br />

<hr />

current [<a href="#">behaviour</a>]: RECEIVE_AND_FULFILL, {
"market_wp": "X1-U49-H53",
"asteroid_wp": "X1-U49-B17"
}

recently completed [<a href="#">tasks</a>]
'TAKE_FROM_EXTRACTORS_AND_GO_SELL_9'
{
"priority": 4,
"market_wp": "X1-U49-H53",
"asteroid_wp": "X1-U49-FA4A",
"cargo_to_receive": [
"ALUMINUM_ORE",
"COPPER_ORE",
"IRON_ORE"
]
}