<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Space Traders UI </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        body {
            height: 100%;
            background-color: #333;
            color: #cfc;

        }

        .large-square {

            height: 800px;
            font-family: monospace, 'Courier New', Courier;

        }

        .small-square {
            border: 2px solid green;
            border-radius: 10px;
            padding: 5px;
            max-height: 400px;
            min-height: 200px;
            font-family: monospace, 'Courier New', Courier;
            font-size: 10px;
            overflow-y: scroll;
        }

        .small-square h1 {
            font-size: 12px;
            font-weight: bold;
        }

        .small-square hr {
            border: 1px solid green;
            padding: 0px;
            margin: 3px;
        }

        .table-responsive {
            overflow-x: hidden;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row" style="">
            <div class="col-md-8 col-sm-12">
                <div class="large-square">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="button" id="requestButton">Inspect</button>
                        </div>
                        <input type="text" class="form-control" placeholder="X1-U49-A1" id="controlinput"> </input>

                    </div>
                    <svg id="systemview"
                        style="border:3px solid green;  background-color:#333; width:100%; height:100%; border-radius: 17px;">
                        <circle cx="101" cy="75" r="7" fill="yellow" id="X1-U49-STAR"></circle>
                        <circle cx="101" cy="75" r="26.832815729997478" stroke="#444" stroke-width="1" fill="none">
                        </circle>
                        <circle cx="89" cy="99" r="5" fill="red" id="X1-U49-A1"></circle>

                        <circle cx="101" cy="75" r="83.18653737234169" stroke="#444" stroke-width="1" fill="none">
                        </circle>
                        <circle cx="19" cy="89" r="5" fill="red" id="X1-U49-D45"></circle>

                        <circle cx="101" cy="75" r="55.08175741568164" stroke="#444" stroke-width="1" fill="none">
                        </circle>
                        <circle cx="154" cy="60" r="5" fill="red" id="X1-U49-E47"></circle>

                        <circle cx="101" cy="75" r="76.69419795525604" stroke="#444" stroke-width="1" fill="none">
                        </circle>
                        <circle cx="52" cy="134" r="5" fill="red" id="X1-U49-F50"></circle>

                        <circle cx="101" cy="75" r="63.56886030125127" stroke="#444" stroke-width="1" fill="none">
                        </circle>
                        <circle cx="80" cy="15" r="5" fill="red" id="X1-U49-G52"></circle>

                        <circle cx="101" cy="75" r="45.60701700396552" stroke="#444" stroke-width="1" fill="none">
                        </circle>
                        <circle cx="65" cy="47" r="5" fill="red" id="X1-U49-H53"></circle>

                        <circle cx="101" cy="75" r="103.75451797391764" stroke="#444" stroke-width="1" fill="none">
                        </circle>
                        <circle cx="194" cy="121" r="5" fill="red" id="X1-U49-K86"></circle>


                    </svg>

                </div>
            </div>
            <div class="col-md-4 col-sm-12" style="">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="small-square" id="object_summary">
                            loading...
                        </div>
                        <div class="col-sm-12" style="margin-top:20px;">
                            <div class="small-square" id="object_history">
                                <h1>list recent transactions & market changes</h1>
                                <div class="table-responsive">
                                    <table class="table table-bordered" data-bs-theme="dark">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Product</th>
                                                <th>Action</th>
                                                <th>Quantity</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>2023-11-17 17:16:00</td>
                                                <td>SHIP_PARTS</td>
                                                <td>SELL</td>
                                                <td>10</td>
                                                <td>349980</td>
                                            </tr>
                                            <tr>
                                                <td>2023-11-17 17:16:00</td>
                                                <td>SHIP_PARTS</td>
                                                <td>SELL</td>
                                                <td>10</td>
                                                <td>349980</td>
                                            </tr>
                                            <tr>
                                                <td>2023-11-17 16:38:00</td>
                                                <td>SHIP_PLATING</td>
                                                <td>SELL</td>
                                                <td>10</td>
                                                <td>354630</td>
                                            </tr>
                                            <tr>
                                                <td>2023-11-17 16:38:00</td>
                                                <td>SHIP_PLATING</td>
                                                <td>SELL</td>
                                                <td>10</td>
                                                <td>356390</td>
                                            </tr>
                                            <tr>
                                                <td>2023-11-17 16:38:00</td>
                                                <td>SHIP_PLATING</td>
                                                <td>SELL</td>
                                                <td>10</td>
                                                <td>357820</td>
                                            </tr>
                                            <tr>
                                                <td>2023-11-17 16:38:00</td>
                                                <td>SHIP_PLATING</td>
                                                <td>SELL</td>
                                                <td>10</td>
                                                <td>358980</td>
                                            </tr>
                                            <tr>
                                                <td>2023-11-17 16:38:00</td>
                                                <td>SHIP_PLATING</td>
                                                <td>SELL</td>
                                                <td>10</td>
                                                <td>359920</td>
                                            </tr>
                                            <tr>
                                                <td>2023-11-17 16:38:00</td>
                                                <td>SHIP_PLATING</td>
                                                <td>SELL</td>
                                                <td>10</td>
                                                <td>360690</td>
                                            </tr>
                                            <tr>
                                                <td>2023-11-17 16:38:00</td>
                                                <td>SHIP_PLATING</td>
                                                <td>SELL</td>
                                                <td>10</td>
                                                <td>361310</td>
                                            </tr>
                                            <tr>
                                                <td>2023-11-17 14:04:00</td>
                                                <td>SHIP_PLATING</td>
                                                <td>SELL</td>
                                                <td>10</td>
                                                <td>360320</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</body>

<script type="text/javascript">
    var svg = document.getElementById("systemview");
    var circles = svg.getElementsByTagName("circle");

    document.getElementById("requestButton").addEventListener("click", function () {
        query = document.getElementById("controlinput").value;
        fetch_block(query, "object_summary");
    });

    // click an inspect
    function fetch_block(query, return_div_symbol) {

        url = "/query/" + query
        const parser = new DOMParser();

        fetch(url)
            .then(response => response.text())
            .then(html => {
                var parsedHtml = parser.parseFromString(html, 'text/html');
                // Handle the JSON blob response here
                document.getElementById(return_div_symbol).innerHTML = html

            }).catch(error => console.error(error));
    }

    //on mouseover change the contents of 'controlinput' to the id of the circle
    for (var i = 0; i < circles.length; i++) {
        circles[i].addEventListener("mouseover", function () {
            if (this.id != "") { document.getElementById("controlinput").value = this.id; }
        });
    }

    //load a json blob and draw circles based on its content


</script>

</html>