<h1><a href="#" onclick="fetch_block('{{waypoint_symbol}}','object_summary'); return false;">{{waypoint_symbol}}</a>
    {{waypoint_type}} {% if _template and _query %}<a href='#'
        onclick="window.open('small_window/{{_query}}','{{_query}}','menubar=no,toolbar=no, width=425, height=375')">[↗️]</a>{%
    endif %}</h1>
<p>{% for trait in waypoint_traits %} {{trait}}, {% endfor %}</p>


{% if co_located_waypoints %}
Co-located waypoints: {% for waypoint in co_located_waypoints %}


<a href="#" onclick="fetch_block('{{waypoint}}', 'object_summary'); return false;">{{waypoint}}</a>,

{% endfor %}{% endif %}<br />
<hr />
{% if shipyard %}
<h1>shipyard</h1>
<table>
    <thead>
        <tr>
            <th>Ship Type</th>
            <th>Cost</th>
        </tr>
    </thead>
    {% for ship in shipyard_types %}
    <tr>
        <td>{{ship.ship_symbol}} </td>
        <td> {{ship.cost}}</td>
    </tr>
    {% endfor %}
</table>
<hr />
{% endif %}
{% if market %}
<h1>Market [<a href="#" onclick="fetch_block('MKT-{{waypoint_symbol}}', 'object_detail'); return false;">View</a>],
</h1>
last checked = {{market_checked_ts}}<br />
<div class="table-responsive">
    <table class="table table-bordered" data-bs-theme="dark">
        <thead>
            <tr>
                <th>trade_symbol</th>
                <th>Supply</th>
                <th>buy price</th>
                <th>sell value</th>
                <th>depth</th>
                <th>Type</th>
                <th>Activity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in market_items %}
            <tr>
                <td>{{item.trade_symbol}}</td>
                <td>{{item.supply}}</td>
                <td>{{item.buy_price}}</td>
                <td>{{item.sell_price}}</td>
                <td>{{item.depth}}</td>
                <td>{{item.type}}</td>
                <td>{{item.activity}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<hr />
{% endif %}

<!-- -- start here -- -->
<div class="container">

    <div class="row">
        {% for ship in present_ships %}
        <div class="col-2">
            <a href="#" onclick="fetch_block('{{ship.ship_symbol}}', 'object_detail'); return false;">
                <div class="box">
                    <div>{{ship.display_string}}</div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    <!-- -- end here -- -->
</div>